bc-xlf-icon-1.jpg
.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
scripts/**
.gitignore
.npmrc
.yarnrc
esbuild.js
esbuild-webview.js
pnpm-lock.yaml
webview/mergeEditor.ts
webview/virtualList.ts
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
*.vsix
